UM MSBA - BGEN632

# Week 8: Advanced Data Manipulation

In the previous week, we covered approaches for filtering and querying data using various techniques. In this tutorial, we will go over how to perform advanced filtering and querying using `pandas` in Python. To start, let's set up our notebook.

### Notebook Setup

In [ ]:
# import modules
import os
import numpy as np
import pandas as pd

In [ ]:
# set working directory
os.chdir("/Users/obn/Documents/GitHub/UM-BGEN632/week8labs/data")  # add your filepath
os.getcwd()  # confirm change

In [ ]:
# load data
ozone_df = pd.read_table("ozone.data.txt")
ozone_df.info()  # quick inspect

## Advanced Data Manipulation in Python
Many of the operations found in pandas mimic those found in R's [tidyverse library](https://www.tidyverse.org/). For example, pandas provides close equivalents to the functions provided in dplyr (a core tidyverse package) which is designed to support data wrangling tasks:

| `dplyr` | `pandas` |
|:---:|:---:|
| select | [filter](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html) |
| filter | [query](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) |
| arrange | [sort_values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) |
| mutate | [assign](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html) |
| rename | [rename](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) |
| summarize | [agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) |
| group_by | [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) |

<br><br>
In addition to these functions, another similarity includes using *pipes* as shortcuts. Piping provides the output of the previous line of code as input into the next line of code. Piping is useful for organizing multiple lines of code that should be run in sequence.

For those familiar with R, we can use piping `%>%` to create streamlined, simple R code like so:

```R
ozone_df %>% 
    select(rad, temp, wind) %>%  # select desired columns
    filter(wind == 6.3) %>%  # keep rows based on condition
    head()  # display first n rows
```

In the code above, the output for each line is passed to the line below it. The advantage is the *lack of a need to assign the output to a variable*. Remember, assigning a value to a variable is one of the most fundamental aspects of programming. This reduces the complexity of code, the amount of text we type, and creates a clean appearance.

The equivalent code in Python is provided in the cell below.

In [ ]:
(ozone_df
 .filter(["rad", "temp", "wind"])  # select desired columns
 .query("wind == 6.3")  # keep rows based on condition
 .head()  # display first n rows
)

You can see the similarities between the R code and Python code above. Note that we wrapped the entire Python code in parentheses `()` because otherwise we would need to place a backslash at the end of each line like so:

```Python
ozone_df \
 .filter(["rad", "temp", "wind"]) \
 .query("wind == 6.3") \
 .head() 
```

Another difference between pandas and tidyverse: lots of (single or double) quotes. Unlike tidyverse, which attempts to use as few quotes as possible, pandas relies on the underlying Python base which forces the use of quotes here. Could the pandas programmers have changed that? Sure. Yet, it does keep things Pythonic.

Let's use a different example that adds in more complexity. Here is an example with R code:

```R
ozone_data %>% 
    select(rad, temp, wind) %>%  # select desired columns
    filter(temp %in% 60:90) %>%  # keep rows based on value in specified range
    mutate(rad_wind = rad * wind) %>%  # create a new column based on mathematical operation applied to two other columns
    arrange(desc(rad_wind)) %>%  # sort the data largest to smallest based on value in new column
    head()  # display first n rows
```

Okay, now we'll convert the above example over to Python:

In [ ]:
l = list(range(60, 91))  # create a range that we will use later for selecting rows

(ozone_df
 .filter(["rad", "temp", "wind"])  # select desired columns
 .query("temp in @l")  # keep rows based on value in specified range
 .assign(rad_wind = ozone_df.rad * ozone_df.wind)  # create a new column based on mathematical operation applied to two other columns
 .sort_values(by = ("rad_wind"), ascending = False) # sort the data largest to smallest based on value in new column
 .head(6)  # display first n rows
)

A couple of important points to consider. First, the range of numbers in `query()`. At first glance, it would seem appropriate to do this:

```Python
.query("temp in 62:89")
```
This would error out, unfortunately. The next idea might be performing the following:

```Python
.query("temp in list(range(60, 90))")
```

Python will return the error! 

As an alternative, we create the list of values outside the query and reference it inside the query. The variable `l` contains the list of numerical values: `l = list(range(60, 90))`.

Inside the `query()` function we can reference `l` by using the notation `@` like so: `.query("temp in @l")`. 

In fact, we can reference any variable outside the query using this notation. We can also use this notation to reference a variable in `filter()`.

The `in` operator evaluates the existence of some value inside a list. Unfortunately, we cannot create a list within the `query()` function using the function `range()`. As an alternative, we can explicitly state the list like so:

In [ ]:
(ozone_df
 .filter(["rad", "temp", "wind"])
 .query("temp in [62, 64, 68, 90]")
 .assign(rad_wind = ozone_df.rad * ozone_df.wind)
 .sort_values(by = ("rad_wind"), ascending = False)
 .head(6)
)

We did not include all the possible values between 62 and 90, but you get the picture. 

One last important consideration here. With `dplyr`, when you use `group_by()` it is in conjunction with `summarize()`. The same applies here for pandas: when you use `groupby()` you need to pair it with `agg()`.


### Select Columns: `filter()`

Using tidyverse, the function `filter()` selects rows. In pandas, the function `filter()` selects columns.

Selecting columns is fairly straight forward. The syntax is:

```Python
.filter(["rad", "temp", "wind"])
```

*Be sure to encapsulate columns within square brackets and wrap column names with quotation marks*. In addition to listing column names, we can use regular expressions. Regex just has a way of creeping in when you least expect (or want) it. Think of it as a taste of things to come.

For example, if we only want columns that end with the letter *d* the syntax is:

```Python
(ozone_df
 .filter(regex = "d$")
)
```

### Select Rows: `query()`

The function `query()` is similar to tidyverse's `filter()` in that it specifies specific rows based on a set of criteria. We can use the following with `filter()`:
* <
* \>
* <=
* \>=
* ==

We can also chain together multiple comparisons using the `&` operator for *and* and `|` operator for *or*. For example, instead of this expression:

```Python
.query("temp in @l")
```

We could write:

```Python
.query("temp >= 60 & temp <= 90")
```

The next set of operators are `in` and `not in`. In addition to the examples we have already covered, we can use these to compare columns against each other. For example, let's create a simple data frame:

In [ ]:
df = pd.DataFrame({'a': np.random.randint(3, size = 12),
                   'b': np.random.randint(15, size = 12)})

df

Now, let's query it to evaluate if a value in column `a` is contained in column `b`.

In [ ]:
(df
 .query("a in b")
)

The results show that only the values of 0 exist in column `b`.

### Arrange Rows: `sort_values()`

We can sort and order data based on columns in pandas using the function `sort_values()`. This allows us to sort a dataset given an ordered list of variables. The syntax is:

```Python
.sort_values(by = ["col_1", "col_2", "col_3", "etc"])
```

Note that this function sorts the data in ascending order by default. To sort the data in descending order, use `ascending = False` like so: 

```Python
.sort_values(by = ["col_1", "col_2", "col_3", "etc"], ascending = False)
```

Be sure to specify which direction to sort to get desired results!

If there are missing values in the data, we can place them at the top or end of the sort by using `na_position = "first"` for the top and `na_position = "last"` for the bottom.

### Add New Columns: `assign()`

We can create new columns of data from the existing columns in the DataFrame.

In [ ]:
(df
 .assign(c = df.a * df.b + 23 - 3.67,
         d = lambda x: (x.b - x.c)*(3 + x.c))
)

The notation is slightly different from the previous example. Note, we included the function `lambda x:` and reference each column using `x.b` or `x.c` instead of `df.b` or `df.c`. This is because the newly created column `c` does not actually exist in the data frame. The changes are saved in memory, but not the DataFrame `df`.

To preserve the simpler notation without using `lambda` we would have to save an intermediary data frame and then execute the second `assign()` function:

In [ ]:
df_2 = (df
        .assign(c = df.a * df.b + 23 - 3.67)
       )

(df_2
 .assign(d = (df_2.b - df_2.c)*(3 + df_2.c))
)

This defeats the purpose, though, of using the streamlined notation of pandas and piping. Yet, it is not wrong. It is very much still Pythonic.

### Rename Columns: `rename()`

To rename a column, we can use the function `rename()`. 

Each column changed is given in a pair with the original column name first, the new name second, separated by a colon `original_name:new_name`:

In [ ]:
df_3 = (df_2
        .rename(columns={'a':'azure', 
                         'b':'blue',
                         'c':'cyan'})
       )

df_3

As an alternative, if we do not want to create a new DataFrame, we can perform the operation in place like so:

In [ ]:
(df_2
 .rename({'a':'azure',
          'b':'blue',
          'c':'cyan'},
         axis = 1,
         inplace = True)
)

df_2

### Summaries of Data: `agg()`

The function `agg()` is an alias for *aggregate* `aggregate()`. The alias is preferred, though you can use both interchangeably. Sometimes we need to collapse many rows together by taking some kind of summary statistic. The `agg()` function allows for mutating data towards this goal. 

Below is a simple example of mutating each column using `sum` and `min`. Recall, `df_2` contains three columns of data, with columns `azure`, `blue`, and `cyan`.

We can compute the sum for each column as well as the minimum value:

In [ ]:
(df_2
 .agg(["sum", "min"])
)

What if we are not interested in the minimum for column `b`? What if, instead, we want the maximum value? And, what if we do not want the maximum value for column `a`? In addition, we still want the sum for both columns. Oh, and one more request. What if we want the sum, maximum, and minimum for column `c`?

pandas has us covered. We can use `agg()` to do this, giving it the variables containing values to collapse and the functions used to aggregate:

In [ ]:
(df_2
.agg({
    'azure':['sum', 'min'],
    'blue':['sum', 'max'],
    'cyan':['sum', 'min', 'max']
    })
)

---

That wraps up this week's tutorial! As always, review the content in this tutorial as needed. Proceed to the lab assignments once you feel ready to complete them.

Next week we will go over the implementation of statistical approaches in Python. See you then!